body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.heading {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.column {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.column h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.add-todo {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input,
.input-group select {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

.input-group input.input-title {
  flex: 2;
}

textarea {
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; /* Allow vertical resizing */
  margin-bottom: 10px;
}

.add-todo button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}

.add-todo button:hover {
  background-color: #0056b3;
}

.item {
  border: 1px solid #ccc; /* Border around the item */
  padding: 10px; /* Padding inside the item */
  margin-bottom: 10px; /* Spacing between items */
  background-color: #f9f9f9; /* Background color of the item */
  border-radius: 5px; /* Rounded corners for the item */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for the item */
}

@media screen and (min-width: 768px) {
  .column {
    flex: 0 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
}
